title Venpay
link rel="dns-prefetch" href="//widget.cloudpayments.ru"
link rel="prefetch" href='https://widget.cloudpayments.ru/bundles/cloudpayments' as="script"
meta charset="utf-8"
meta content="IE=Edge" http-equiv="X-UA-Compatible"
meta content="width=device-width, initial-scale=1.0" name="viewport"

= csrf_meta_tag
= csp_meta_tag
= stylesheet_pack_tag 'mobile', media: 'all', 'data-turbolinks-track': 'reload'
= javascript_pack_tag 'mobile', 'data-turbolinks-track': 'reload'

// Full screen для мобильных
meta name="mobile-web-app-capable" content="yes"
meta name="apple-mobile-web-app-capable" content="yes"
