title Venpay
meta charset="utf-8"
meta content="IE=Edge" http-equiv="X-UA-Compatible"
meta content="width=device-width, initial-scale=1.0" name="viewport"

= render 'bugsnag'

= csrf_meta_tag
= csp_meta_tag

// Full screen для мобильных
meta name="mobile-web-app-capable" content="yes"
meta name="apple-mobile-web-app-capable" content="yes"
link rel="manifest" href="/manifest.json"
