label#label-qr-code НАВЕДИТЕ КАМЕРУ НА QR-КОД
video#scan-qr-code[muted playsinline]

javascript:
  var video = document.getElementById('scan-qr-code');

  QrScanner.hasCamera().then(hasCamera => (hasCamera ? console.log('Камера найдена') : alert('Камера не найдена')));

  var scanner = new QrScanner(video, result => (document.location.href = result));
  scanner.start();