= simple_form_for form, url: admin_machine_actions_path(machine), remote: true, method: :post, data: { actions_form: true } do |f|
  = f.input :time, label: 'Количество минут на которое запустить кресло', input_html: { autofocus: true }
  = f.button :submit, class: 'btn btn-primary', value: 'Старт', disable_with: 'В процессе..'
