= javascript_include_tag "https://code.jquery.com/jquery-3.4.1.slim.min.js", integrity: "sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n", crossorigin: "anonymous"
= javascript_include_tag 'https://widget.cloudpayments.ru/bundles/cloudpayments'

javascript:
  $(function() {
    var pay = function () {
      var widget = new cp.CloudPayments({googlePaySupport: false});
      widget.charge({
        publicId: #{payment.account.cloud_payments_public_id.to_json.html_safe},
        description: #{payment.title.to_json.html_safe},
        amount: #{payment.total_price.to_f},
        currency: #{payment.total_price_currency.to_s.to_json.html_safe},
        invoiceId: #{payment.id.to_json.html_safe},
        },
        #{success_payment_url(payment).to_json.html_safe},
        #{fail_payment_url(payment).to_json.html_safe}
      );
    };
    window.pay = pay;
    pay();
  });
